/*********************************************  design system *********************************************/

:root {
    --grey-900: #21252b;
    --grey-800: #343a40;
    --grey-700: #495057;
    --grey-650: #76828f;
    --grey-670: #6c6e71;
    --grey-600: #858e96;
    --grey-500: #acb5bd;
    --grey-400: #ced4da;
    --grey-300: #dee2e6;
    --grey-200: #f1f3f5;
    --grey-100: #f8f9fa;
    --blue-700: #12283a;
    --blue-600: #1a4971;
    --blue-500: #2268a2;
    --blue-400: #3083c7;
    --blue-300: #62a2d8;
    --blue-200: #e6f3fe;
    --blue-100: #eff8ff;
    --green-700: #114544;
    --green-600: #1b645e;
    --green-500: #299187;
    --green-400: #3baea3;
    --green-300: #6ed7d3;
    --green-200: #ddf5f5;
    --green-100: #e6fffe;
    --red-700: #601818;
    --red-600: #881b1b;
    --red-500: #b72020;
    --red-400: #db3130;
    --red-300: #e26564;
    --red-200: #fce4e4;
    --red-100: #fbe7e7;
    --yellow-700: #5c4813;
    --yellow-600: #8c6d20;
    --yellow-500: #caa53d;
    --yellow-400: #f4ca64;
    --yellow-300: #fae29f;
    --yellow-200: #fdf3d7;
    --yellow-100: #fffcf4;
    --pink-900: #99003d;
    --pink-800: #b30047;
    --pink-700: #cc0052;
    --pink-600: #e6005c;
    --pink-500: #ff0066;
    --pink-400: #ff1a75;
    --pink-300: #ff4d94;
    --pink-200: #ff80b3;
    --pink-100: #ffcce0;
    --background: #f5f7fa;
    --orange: #f5a622;
    --box-shadow-md: 0px 0px 5px 0px var(--grey-300);
    --box-shadow-lg: 0px 0px 5px 0px var(--grey-400);
    --padding-xs: 4px;
    --padding-sm: 6px;
    --padding-normal: 8px;
    --padding-md: 12px;
    --padding-lg: 16px;
    --padding-xl: 20px;
    --padding-2xl: 28px;
    --padding-3xl: 32px;
    --padding-4xl: 42px;
    --padding-5xl: 52px;
    --padding-6xl: 62px;
    --padding-7xl: 72px;
    --padding-8xl: 82px;
    --padding-9xl: 160px;
    --padding-10xl: 220px;
    --border-radius-sm: 5px;
    --border-radius-md: 8px;
    --border-radius-lg: 10px;
    --border-radius-2xl: 20px;
    --border-radius-round: 50%;
    --font-weight-thin: 300;
    --font-weight-base: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;
    --margin-xxxs: 1px;
    --margin-xxs: 2px;
    --margin-xs: 4px;
    --margin-sm: 6px;
    --margin-base: 8px;
    --margin-md: 12px;
    --margin-lg: 16px;
    --margin-xl: 20px;
    --margin-2xl: 32px;
    --margin-3xl: 42px;
    --margin-4xl: 52px;
    --margin-5xl: 62px;
    --margin-6xl: 72px;
    --margin-7xl: 82px;
    --margin-8xl: 92px;
    --margin-9xl: 102px;
    --size-xs: 4px;
    --size-sm: 6px;
    --size-normal: 8px;
    --size-md: 10px;
    --size-lg: 12px;
    --size-xl: 32px;
    --size-2xl: 42px;
    --size-3xl: 62px;
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-xs: 13px;
    --font-size-md: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 22px;
    --font-size-2xl: 24px;
    --font-size-3xl: 32px;
    --line-height-md: 20px;
    --line-height-lg: 24px;
    --line-height-xl: 42px;
}

/*********************************************************************************************************/

* {
    padding: 0;
    margin: 0;
    color: var(--grey-900)
}

body {
    background-color: var(--background);
    font-family: 'Livvic', sans-serif;
}

.notebook-text {
    line-height: var(--line-height-xl);
}

a {
    text-decoration: none;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 60%,
        rgba(154, 216, 215, 1) 60%,
        rgba(154, 216, 215, 1) 100%
      );
    border-radius: var(--border-radius-md);
}

.visible {
    display: block;
}

.invisible {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.non-hidden {
    visibility: visible;
}

.side-menu {
    padding: var(--padding-2xl);
    width: fit-content;
    position: fixed;
    left: var(--size-md);
}

.side-menu-title {
    border-bottom: 1px solid var(--grey-300);
    padding-bottom: var(--padding-sm);
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    margin-bottom: var(--margin-xs);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.shorter-menu-title {
    width: 60px;
}

.full-width-menu-title {
    width: 180px;
}

.menu-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-300);
    padding-bottom: var(--padding-sm);
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    margin-bottom: var(--margin-xs);
    width: 180px;
}

.side-menu-title-arrow {
    width: 10px;
    height: 10px;
    background-size: cover;
    cursor: pointer;
}

.side-menu-title-arrow-open {
    background-image: url("./double-right-arrow.png");
}

.side-menu-title-arrow-close {
    background-image: url("./double-left-arrow.png");
}

.side-menu-item {
    cursor: pointer;
    margin-bottom: var(--margin-xs);
    font-size: var(--font-size-sm);
}

.side-menu-item:hover {
    color: var(--blue-500);
}

.side-menu-sub-item {
    padding-left: var(--padding-md);
}

.menu-item-arrow {
    background-image: url("./down-chevron.png");
    width: 10px;
    height: 10px;
    background-size: cover;
    cursor: pointer;
}

#paper {
    width: 1000px;
    height: 100vh;
    position: relative;
    margin: auto;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 140px;
    background-color: white;
    box-shadow: var(--box-shadow-lg);
}

#pattern {
    padding: 0px 32px 12px 32px;
    background-image: repeating-linear-gradient(white 0px, white 40px, rgb(208, 208, 208) 41px);
}

.title {
    margin: 50px 0 8px 0;
}

.toggle {
    border: 1px solid var(--grey-600);
    width: fit-content;
    color: var(--grey-600);
    border-radius: var(--border-radius-md);
    display: flex;
    background-color: white;
}

.toggle-value {
    padding: var(--padding-md);
    cursor: pointer;
}

.toggle-value-left {
    border-right: 1px solid var(--grey-600);
    height: 100%;
    border-top-left-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
}

.toggle-value-right  {
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
}

.toggle-value-active {
    background-color: var(--grey-300);
    font-weight: var(--font-weight-lg);
}

.position-right {
    position: relative;
    float: right;
    right: var(--padding-xl);
    bottom: 25px;
}

.tooltip-container {
    position: relative;
}

.tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tooltip-icon {
    width: 15px;
    height: 15px;
    background-image: url("./info-tooltip-blue.png");
    background-size: contain;
    cursor: pointer;
    display: none;
}

.top-right {
   position: absolute;
   top: -12px;
   right: -20px;
}

.right {
    position: absolute;
    top: 15px;
    right: 15px;
}

.bottom-left {
    position: absolute;
    left: 15px;
    bottom: 0;
}

.top-middle {
    position: absolute;
    top: 5px;
    left: 220px;
}

.tooltip-content {
    background-color: var(--blue-600);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-md);
    margin-bottom: var(--margin-sm);
    display: none;
    position: absolute;
    bottom: 12px;
    font-size: small;
    color: white;
    width: 200px;
    font-family: 'Roboto', sans-serif;
}

.medium-separator {
    height: var(--size-2xl);
}

.show-info-tooltips-checkbox {
    margin-top: var(--size-2xl);
    display: flex;
    align-items: center;
}

.show-tooltip-label {
    margin-left: var(--margin-sm);
}

.sub-title {
    margin-top: var(--size-xl);
    font-size: var(--font-size-md);
}

.hide {
    display: none;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}
/********************************************* personality *********************************************************/

.section {
    box-shadow: var(--box-shadow-lg);
    margin: auto;
    background-color: white;
    display: flex;
    position: relative;
}

.hero-section {
    width: 90%;
    height: 400px;
    font-family: 'Playfair Display', serif;
}

.hero-section-top-color-serious {
    border-top: 6px solid var(--blue-500);
}

.hero-section-top-color-fun {
    border-top: 6px solid var(--pink-400);
}

.hero-content {
    flex-grow: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--padding-lg);
    text-align: center;
}

.hero-icon-container {
    position: absolute;
    top: var(--size-md);
    left: var(--size-md);
    display: flex;
    align-items: center;
}

.hero-icon {
    background-image: url("./personality-serious-icon.png");
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-right: var(--margin-md);
}

.hero-icon-name {
    font-size: medium;
    font-weight: var(--font-weight-md);
}

.hero-image {
    flex-grow: 2;
    background-image: url("./personality-serious.jpg");
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100%;
    background-repeat: no-repeat;
}

.hero-title {
    margin-bottom: var(--margin-md);
    color: var(--blue-700)
}

.hero-text {
    color: var(--grey-700);
}

.hero-button {
    padding: var(--padding-md) var(--padding-lg);
    width: 130px;
    cursor: pointer;
    color: white;
    border: none;
}

.serious-hero-button {
    background-color: var(--blue-500);
}

.fun-hero-button {
    background-color: var(--pink-400);
    border-radius: var(--border-radius-2xl);
}

.hero-button:hover {
    opacity: 0.8;
}

/******************************************   Hierarchy    *********************************************/

.hierarchy-section {
    width: 70%;
    height: 260px;
    font-family: 'Rubik', sans-serif;
    margin: auto;
    margin-top: var(--size-3xl) ;
}

.hierarchy-image {
    width: 33%;
    height: 100%;
    background-image: url("./jaffa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hierarchy-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hierarchy-upper-info {
    height: 50%;
    padding: var(--padding-lg);
}

.hierarchy-title {
    margin-bottom: var(--margin-md);
}

.hierarchy-good-title {
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-xl);
}

.hierarchy-text-good {
    color: var(--grey-700);
    font-weight: var(--font-weight-thin);
}

.hierarchy-bottom-info {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
    padding: var(--padding-lg);
}

.hierarchy-price-container {
    margin-bottom: var(--margin-sm);
}

.hierarchy-price-good {
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-md);
}

.hierarchy-text-good-small {
    color: var(--grey-700);
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-sm);
}

.hierarchy-bad {
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-base);
    color: var(--grey-900);
}

.hierarchy-horizontal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hierarchy-cta {
    width: 120px;
    height: 40px;
    border-radius: var(--border-radius-lg);
    border: none;
    background-color: var(--blue-500);
    color: white;
    cursor: pointer;
}

.hierarchy-cta-bad {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-base);
}

.hierarchy-cta-good {
    font-weight: var(--font-weight-lg);
}

.hierarchy-cta:hover {
    opacity: 0.9;
}

.hierarchy-star {
    margin-right: var(--margin-xxxs);
}

.hierarchy-star:last-child {
    margin-right: var(--margin-sm);
}

.hierarchy-read-more {
    text-decoration: underline;
    color: var(--blue-600);
    margin-left: var(--margin-xs);
}

/******************************************   Person labels card    *********************************************/

.labels-section-person-card {
    width: 45%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: var(--padding-lg);
    font-family: 'Source Serif Pro', serif;
    margin-top: var(--size-3xl);
    margin-bottom: var(--margin-2xl);
}

.labels-section-person-card-toggle-container {
    margin-top: var(--size-xl);
}

.labels-section-person-card-avatar {
    width: 120px;
    height: 120px;
    border-radius: var(--border-radius-round);
    background-image: url("./julia-roberts.png");
    background-size: cover;
}

.labels-section-person-card-content {
    flex-grow: 1;
    padding: var(--padding-xl);
    margin-left: var(--size-md);
}

.labels-section-person-card-label-container {
    margin-bottom: var(--size-sm);
}

.labels-section-person-card-label {
    font-weight: var(--font-weight-thin);
    color: var(--blue-600);
}

.labels-section-person-card-value {
    font-weight: var(--font-weight-thin);
    color: var(--grey-650);
    margin-left: var(--size-sm);
}

.labels-section-person-card-name-value-good {
    font-size: var(--font-size-lg);
    color: var(--blue-600);
    font-weight: var(--font-weight-base);
}

.labels-section-person-card-job-title-value-good {
    color: var(--blue-500);
    font-weight: var(--font-weight-base);
}

.labels-section-person-card-email-value-good {
    font-size: var(--font-size-sm);
}

.labels-section-person-card-phone-value-good {
    font-size: var(--font-size-sm);
}

/******************************************   Product labels card    *********************************************/

.labels-section-product-card {
    width: 40%;
    height: 130px;
    margin-top: var(--size-2xl);
    display: flex;
    font-family: 'Source Serif Pro', serif;
    margin-bottom: var(--margin-2xl);
}

.labels-section-product-card-container {
    margin-top: var(--margin-2xl);
}

.labels-section-product-card-image {
    width: 40%;
    background-image: url("./vase.png");
    background-size: cover;
    background-position: center;
}

.labels-section-product-card-content-container {
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.labels-section-product-card-title {
    color: var(--blue-700);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-lg);
}

.labels-section-product-card-price {
    font-weight: var(--font-weight-thin);
    color: var(--grey-650);
    margin-top: var(--size-xs);
}

.labels-section-product-card-stock-container-bad, .labels-section-product-card-stock-container-good {
    color: var(--green-600);
}

.labels-section-product-card-stock-amount {
    font-weight: var(--font-weight-xl);
    color: var(--green-600);
    margin-right: var(--size-sm);
}

/******************************************   Dashboard labels card    *********************************************/

.labels-section-dashboard-card {
    width: 20%;
    height: 160px;
    margin-top: var(--size-2xl);
    display: flex;
    font-family: 'Rubik', sans-serif;
    margin-bottom: var(--margin-2xl);
    flex-direction: column;
}

.labels-section-dashboard-card-container {
    margin-top: var(--size-2xl);
}

.labels-section-dashboard-card-heart-image {
    background-image: url("./heart-heart-rate.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    margin-left: var(--margin-lg);
}

.labels-section-dashboard-card-upper-section-container {
    display: flex;
    padding-top: var(--padding-lg);
    gap: var(--margin-md);
    align-items: center;
}

.labels-section-dashboard-card-heart-value-container {
    color: var(--grey-700);
    font-weight: var(--font-weight-thin);
}

.labels-section-dashboard-card-heart-bpm {
    margin-left: var(--margin-sm);
}

.labels-section-dashboard-card-heart-bpm-good {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-lg);
}

.labels-section-dashboard-card-heart-value-good {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-lg);
    color: var(--grey-900);
}

.labels-section-dashboard-card-heart-title {
    font-weight: var(--font-weight-lg);
}

.labels-section-dashboard-card-heart-title-good {
    color: var(--grey-650);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-base);
    letter-spacing: 1px;
}

.labels-section-dashboard-card-lower-section-container  {
    background-image: url("./heartbeat.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

/******************************************   Spacing white space   **************************************/

.spacing-white-space-section-outer-container {
    height: 280px;
}

.spacing-white-space-section {
    width: 32%;
    margin-top: var(--margin-3xl);
    font-family: 'Rubik', sans-serif;
}

.spacing-white-space-section-container {
    margin-top: var(--margin-3xl);
}

.spacing-white-space-content-container {
    width: 100%;
}

.spacing-white-space-content-container-dense {
    padding: var(--padding-md);
}

.spacing-white-space-content-container-space {
    padding: var(--padding-xl);
}

.spacing-white-space-stars-container-dense {
    margin-top: var(--margin-sm);
}

.spacing-white-space-stars-container-space {
    margin-top: var(--margin-lg);
}

.spacing-white-space-star-container {
    display: flex;
    align-items: center;
}

.spacing-white-space-star-container-dense {
    margin: var(--margin-sm) 0;
}

.spacing-white-space-star-container-space {
    margin: var(--margin-base) 0;
}

.spacing-white-space-num-stars {
    color: var(--blue-400);
    font-size: var(--font-size-xs);
}

.spacing-white-space-stars-bar {
    width: 140px;
    height: 8px;
    border-radius: var(--border-radius-2xl);
    background-color: var(--grey-300);
    margin: 0 var(--margin-md);
    position: relative;
}

.spacing-white-space-percentage-stars {
    color: var(--grey-650);
    font-size: var(--font-size-xs);
}

.spacing-white-space-stars-inner-bar {
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: var(--border-radius-2xl);
    background-color: var(--orange);
}

.spacing-white-space-5-stars-bar {
    width: 71%;
}

.spacing-white-space-4-stars-bar {
    width: 12%;
}

.spacing-white-space-3-stars-bar {
    width: 8%;
}

.spacing-white-space-2-stars-bar {
    width: 5%;
}

.spacing-white-space-1-stars-bar {
    width: 4%;
}

.spacing-white-space-review-content-dense {
    margin: var(--margin-sm) 0;
}

.spacing-white-space-review-content-space {
    margin: var(--margin-lg) 0;
}

.spacing-white-space-sub-title {
    font-size: var(--font-size-base);
}

.spacing-white-space-text {
    font-weight: var(--font-weight-thin);
    color: var(--grey-600);
    font-size: var(--font-size-xs);
}

.spacing-white-space-text-dense {
    margin-top: 0;
}

.spacing-white-space-text-space {
    margin-top: var(--margin-xs);
}

.spacing-white-space-button {
    padding: var(--padding-sm) var(--padding-xl);
    background-color: var(--grey-100);
    border: 1px solid var(--grey-400);
    border-radius: var(--border-radius-md);
}

/******************************************   Spacing grid   *********************************************/

.spacing-grid-section {
    width: 70%;
    height: 400px;
    margin-top: var(--margin-9xl);
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: var(--size-md);
}

.resizer {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: var(--blue-700);
    cursor: se-resize;
    z-index: 3;
}

.spacing-grid-toggle-container {
    margin-top: var(--margin-3xl);
}

.spacing-grid-section-top-bar {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid var(--grey-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.spacing-grid-section-top-bar-circle {
    background-color: var(--grey-400);
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius-round);
    margin: 0 var(--margin-lg)
}

.spacing-grid-section-top-bar-ellipsis {
    background-color: var(--grey-400);
    width: 300px;
    height: 18px;
    border-radius: var(--border-radius-2xl);
}

.spacing-grid-section-side-bar {
    height: 100%;
    background-color: white;
    border-right: 1px solid var(--grey-400);
    padding-left: var(--margin-lg);

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.spacing-grid-section-side-bar-fixed {
    position: absolute;
    left: 0;
    width: 160px;
}

.spacing-grid-section-side-bar-inner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: var(--size-md);
    border: 1px solid black;
    height: 100%;
}

.spacing-grid-section-grid-column {
    background-color: var(--red-300);
    opacity: 0.2;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
}

.spacing-grid-section-side-bar-item-container:first-child {
    margin-top: var(--margin-4xl);
}

.spacing-grid-section-side-bar-item-container {
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-md);
}

.spacing-grid-section-side-bar-item-circle {
    width: 10px;
    height: 10px;
    background-color: var(--grey-400);
    border-radius: var(--border-radius-round);
    margin-right: var(--margin-sm);
}

.spacing-grid-section-side-bar-item-ellipsis {
    background-color: var(--grey-400);
    width: 60px;
    height: 5px;
    border-radius: var(--border-radius-2xl);
}

.spacing-grid-section-side-bar-item-ellipsis-long {
    background-color: var(--grey-400);
    width: 80px;
    height: 5px;
    border-radius: var(--border-radius-2xl);
}

/******************************************   Responsive white space   *********************************************/

.responsive-white-space-title {
    margin-top: var(--margin-2xl);
}

.responsive-white-space-section {
    width: 90%;
    height: 420px;
    margin-top: var(--margin-6xl);
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color: white;
}

.responsive-white-space-toggle-container {
    margin-top: var(--margin-2xl);
}

.responsive-white-space-top-bar {
    background-color: var(--background);
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.responsive-white-space-logo {
    width: 25px;
    height: 25px;
    background-image: url("./lotus.png");
    background-size: cover;
    margin-left: var(--margin-lg);
    margin-bottom: var(--margin-xs);
}

.responsive-white-space-menu-container {
    display: flex;
    gap: var(--size-xl);
    font-size: var(--font-size-sm);
}

.responsive-white-space-sign-up-btn {
    border: none;
    background-color: var(--blue-600);
    padding: var(--padding-sm) var(--padding-md);
    margin-right: var(--margin-lg);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-xs);
    color: var(--grey-100);
}

.responsive-white-space-content-container {
    width: 100%;
    margin-top: 40px;
}

.responsive-white-space-content-container-full-width {
    padding: var(--padding-3xl);
}

.responsive-white-space-content-container-smaller-width {
    padding: var(--padding-2xl) var(--padding-10xl);
}

.responsive-white-space-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.responsive-white-space-top-section-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-thin);
}

.responsive-white-space-top-section-icons-container {
    display: flex;
    align-items: center;
    gap: var(--size-md);
}

.responsive-white-space-top-section-search-icon {
    width: 15px;
    height: 15px;
    background-image: url("./search.png");
    background-size: contain;
    cursor: pointer;
}

.responsive-white-space-top-section-search-icon:hover {
    opacity: 0.7;
}

.responsive-white-space-top-section-cart-icon {
    width: 15px;
    height: 15px;
    background-image: url("./cart.png");
    background-size: contain;
    cursor: pointer;
}

.responsive-white-space-top-section-cart-icon:hover {
    opacity: 0.7;
}

.responsive-white-space-item-container {
    margin-top: var(--margin-xl);
}

.responsive-white-space-item-count {
    font-size: var(--font-size-sm);
    margin-bottom: var(--margin-sm);
}

.responsive-white-space-hr {
    height: 1px;
    background-color: var(--grey-400);
}

.responsive-white-space-item-info-container, .responsive-white-space-item-desc-container, .responsive-white-space-total-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--margin-sm) 0;
}

.responsive-white-space-item-img {
    width: 70px;
    height: 70px;
    background-image: url("./vase.png");
    background-size: cover;
    margin-right: var(--margin-lg);
}

.responsive-white-space-item-title, .responsive-white-space-item-price {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-lg);
}

.responsive-white-space-item-total-price {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-lg);
}

.responsive-white-space-item-info {
    font-weight: var(--font-weight-thin);
    color: var(--grey-600);
    font-size: var(--font-size-sm);
    margin-top: var(--margin-xs);
}

.responsive-white-space-discount-container {
    margin: var(--margin-md) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.responsive-white-space-discount-input {
    height: 30px;
    border: 1px solid var(--grey-400);
    color: var(--grey-500);
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-thin);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-sm);
    padding-left: var(--padding-md);
}

.responsive-white-space-discount-input-full-width {
    width: 88%;
}

.responsive-white-space-discount-input-smaller-width {
    width: 75%;
}
.responsive-white-space-discount-btn {
    background-color: var(--grey-400);
    padding: var(--padding-sm) var(--padding-lg);
    border-radius: var(--border-radius-md);
    border: none;
    color: white;
}

.responsive-white-space-hr-space {
    margin: var(--margin-md) 0;
}

.responsive-white-space-item-total {
    color: var(--grey-650);
    font-weight: var(--font-weight-base);
}

/******************************************   Responsive columns   *********************************************/

.responsive-columns-toggle-container {
    margin-top: var(--margin-2xl);
}

.responsive-columns-section {
    width: 90%;
    height: 860px;
    margin-top: var(--margin-6xl);
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color: var(--background);
    overflow: hidden;
}

.responsive-columns-top-bar {
    background-color: white;
    box-shadow: 0px 9px 14px -10px rgba(122,119,119,0.75);
}

.responsive-columns-logo-container {
    display: flex;
    align-items: center;
    gap: var(--size-md);
}

.responsive-columns-logo {
    background-image: url("./play.png");
}

.responsive-columns-logo-name {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-md);
}

.responsive-columns-avatar-container {
    display: flex;
    align-items: center;
    gap: var(--size-lg);
    padding-right: var(--padding-lg);
}

.responsive-columns-avatar {
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-round);
    background-size: cover;
    background-image: url("./elon-musk.png");
}

.down-arrow {
    width: 9px;
    height: 9px;
    background-size: cover;
    background-image: url("./down-arrow.png");
}

.responsive-columns-content-container {
    margin-top: 50px;
    width: 100%;
}

.responsive-columns-content-container-one-column {
    padding: var(--padding-3xl) var(--padding-9xl);
}

.responsive-columns-inner-container {
    display: flex;
}

.responsive-columns-inner-container-one-column {
    flex-direction: column;
}

.responsive-columns-inner-container-two-columns {
    flex-direction: row;
}

.responsive-columns-content-container-two-columns {
    padding: var(--padding-3xl) var(--padding-4xl);
}

.responsive-columns-title-section-two-columns {
    width: 40%;
}

.responsive-columns-inputs-section-two-columns {
    width: 60%;
    margin-left: var(--margin-lg);
}

.responsive-columns-main-title {
    font-size: var(--font-size-md);
    margin-bottom: var(--margin-2xl);
}

.responsive-columns-space-hr {
    margin-bottom: var(--margin-lg);
    margin-top: var(--margin-2xl);
    width: 102%;
}

.responsive-columns-sub-title-description {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-md);
    color: var(--grey-600);
    margin-top: var(--margin-sm);
    margin-bottom: var(--margin-sm);
}

.responsive-columns-input-label {
    margin-bottom: var(--margin-sm);
    font-size: var(--font-size-sm);
    color: var(--grey-700);
    margin-top: var(--margin-xl);
}

.responsive-columns-input-label-two-columns:first-child {
    margin-top: 0;
}

.responsive-columns-input {
    height: 40px;
    width: 100%;
    border: 1px solid var(--grey-500);
    border-radius: var(--border-radius-md);
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: var(--padding-md);
    color: var(--grey-600);
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-sm);
    justify-content: space-between;
}

.responsive-columns-btn {
    border: 1px solid var(--grey-500);
    border-radius: var(--border-radius-md);
    padding: var(--padding-md) var(--padding-lg);
    width: fit-content;
    font-size: var(--font-size-sm);
}

.responsive-columns-input-arrow {
    width: 8px;
    height: 6px;
    margin-right: var(--padding-lg);
}

.responsive-columns-inputs-container {
    display: flex;
    align-items: center;
    gap: var(--size-lg);
}

.responsive-columns-input-half-size {
    width: 48%;
}

.responsive-columns-input-half-size:last-child {
    margin-left: var(--margin-xl);
}

.responsive-columns-textarea {
    height: 70px;
}


/******************************************   Text - Line Length   *********************************************/

.line-length-section {
    width: 96%;
    height: 250px;
    margin-top: var(--margin-6xl);
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    padding: var(--padding-lg) var(--padding-xl);
    align-items: center;
    color: var(--grey-700);
    overflow: hidden;
}

.line-length-title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-sm);
    margin-bottom: var(--margin-md);
}

.line-length-description {
    color: var(--grey-670);
    line-height: var(--line-height-lg);
    text-align: center;
}

.line-length-description-full {
    width: 100%;
}

.line-length-description-not-full {
    width: 65%;
}

.line-length-icons-container {
    display: flex;
    margin-top: var(--margin-2xl);
    gap: var(--size-xl)
}

.line-length-icon-title {
    font-weight: var(--font-weight-md);
    margin-bottom: var(--margin-md);
    color: var(--grey-700);
}

.line-length-icon-container {
    padding: var(--padding-md);
    border-radius: var(--border-radius-round);
    margin-bottom: var(--margin-md);
    width: fit-content;
}

.line-length-web-template-icon-container {
    background-color: var(--blue-200);
}

.line-length-chart-icon-container {
    background-color: var(--green-200);
}

.line-length-up-graph-icon-container {
    background-color: var(--red-200);
}

.line-length-icon {
    width: 28px;
    height: 28px;
    background-size: cover;
}

.line-length-icon-web-template {
    background-image: url("./web-template.png");
}

.line-length-icon-cart {
    background-image: url("./green-cart.png");
}

.line-length-up-graph {
    background-image: url("./up-graph.png");
}

.line-length-icon-description {
    color: var(--grey-670);
    line-height: var(--line-height-lg);
}

.line-length-icon-section-container {
    width: 33%;
}

/******************************************   Text - center align   *********************************************/

.center-align-section {
    width: 30%;
    height: 280px;
    margin-top: var(--margin-6xl);
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    padding: var(--padding-lg) var(--padding-2xl);
}

.text-align-left {
    align-items: left;
    text-align: left;
}

.text-align-center {
    align-items: center;
    text-align: center;
}


/******************************************   Text - letter spacing *********************************************/

.letter-spacing-decrease {
    width: 50%;
    height: 100px;
    margin-top: var(--margin-6xl);
    font-size: var(--font-size-2xl);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--font-weight-md);
}

.letter-spacing-normal {
    letter-spacing: normal;
}

.letter-spacing-smaller {
    letter-spacing: -1px;
}

.letter-spacing-wider {
    letter-spacing: 1.5px;
}
